# Python
__pycache__/
*.pyc
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Virtual environment
.venv/

# Large generated data
outputs/
tp_outputs/

# Logs
*.log
*.out
*.err
florence_outputs/
pangu_outputs/
tcwv_outputs/
wg_outputs/
t2m_outputs/
*.zarr
*.pt
